/*#ECCD25*/
/*#FFF798*/
/*#ff8ac1*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
body, input{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
#fluttershay{
    margin-left: 2.5%;
    filter: drop-shadow(0 0 12px #ED80B3);
    display: flex;
    height: 80vh;
}
main{
    height: 62vh;
    box-shadow: 0 0 30px #ECCD25;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 25px;
    border: 3px solid#ECCD25;
    margin-right: 12.5%;
    background-color: #FFF798;
    width: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#title{
    font-weight: 900;
    font-size: 36px;
    display: flex;
    margin-bottom: 1rem;
}
#registrationForm{
    gap: 7px;
    width: 93%;
    display: flex;
    flex-direction: column;
}
input {
    box-shadow: #ECCD25 2px 2px 3px;
    padding: 10px;
    outline: none;
    border: 1px solid #ECCD25;
    border-radius: 15px;
}
.visiblePas{
    cursor: pointer;
    display: flex;
    height: 26px;
    width: 26px;
    margin-left: 5px;
}

#registerSubmit{
    background-color: white;
    margin-left: 17%;
    display: flex;
    width: 66%;
}
span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
span .input{
    display: flex;
    width: 100%;
}
#contacts{
    z-index: 1;
    cursor: pointer;
    box-shadow: black 0 0 6px;
    top: 8vh;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: center;
    background-image: url("https://img.icons8.com/?size=100&id=1806&format=png&color=000000");
    display: flex;
    flex-direction: row;
    height: 6.5vh;
    width: 1.7vh;
    border-radius: 1.5vh 0 0 1.5vh;
    background-color: white;
    border-left: black solid 1px;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}
#vk{
    z-index: 0;
    top: 7.75vh;
    right: -5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    box-shadow: black 0 0 6px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/VK_Compact_Logo_%282021-present%29.svg/800px-VK_Compact_Logo_%282021-present%29.svg.png");
}
#tg{
    z-index: 0;
    top: 7.75vh;
    right: -5vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    box-shadow: black 0 0 6px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/2048px-Telegram_2019_Logo.svg.png");
}
.contTg{
    animation: tg 0.5s 1 forwards;
}
.contVk {
    animation: vk 0.5s 1 forwards;
}
.contTgBack {
    animation: tgBack 0.5s 1 forwards;
}
.contVkBack {
    animation: vkBack 0.5s 1 forwards;
}
@keyframes vk {
    0%{
        top: 8.75vh;
        right: -5vh;
    }
    100%{
        top: 8.75vh;
        right: 3.7vh;
    }
}
@keyframes tgBack {
    0%{
        top: 8.75vh;
        right: 8.7vh;
    }
    100%{
        top: 8.75vh;
        right: -5vh;
    }
}
@keyframes vkBack {
    0%{
        top: 8.75vh;
        right: 3.7vh;
    }
    100%{
        top: 8.75vh;
        right: -5vh;
    }
}
@keyframes tg {
    0%{
        top: 8.75vh;
        right: -5vh;
    }
    100%{
        top: 8.75vh;
        right: 10.7vh;
    }
}
#error{
    color: red;
}